<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" >SymDa</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                   
                    <li><a href="{% url 'signout' %}">Signout</a></li>
                    <li> <a href="/about">Home</a></li>
                      <li>  <a href="{% url 'all_posts' %}">All Posts</a></li>
                      <li>  <a href="{% url 'profile' %}">Profile</a></li>
                   <!---   <li>  <a href="/post_detail post.id ">{{ post.title }}</a></li>-->
                  
                
                    
                    
                    
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <h1>Create a New Post</h1>
<form method="POST" action="/create_post">
    {% csrf_token %}
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" required></textarea><br><br>
    <button type="submit">Create Post</button>
</form>

</body>
</html>